# Ссылка на RPC-узел сети Polygon (можно использовать бесплатный или Infura/Alchemy)
POLYGON_RPC_URL=https://polygon-rpc.com

# Приватный ключ кошелька, который будет деплоить контракты (НЕ ПУБЛИКОВАТЬ В СЕТИ!)
PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# API Ключ от Polygonscan для автоматической верификации контрактов через терминал
POLYGONSCAN_API_KEY=YOUR_POLYGONSCAN_API_KEY
